<div class="row text-center">
<div class="form-signin" style="margin: 0 auto; width: 90%; margin-top: 75px;">
<h2 class="mb-3">Edit Info</h2>
<% if @user.errors.any? %>

    <div class="error_messages">
        <h2 class="alert alert-danger">Please Try Again</h2>
        <% for message in @user.errors.full_messages %>
            <div class='alert alert-warning' style="margin: 0 auto; width: 50%;">
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>
<%= form_for @user do |f| %>
    <div class="field">
        <%= f.text_field :fname, class:"form-control text-center mt-5 mb-2 text-capitalize", placeholder:"First Name"%>
    </div>
    <div class="field">
        <%= f.text_field :lname, class:"form-control text-center mb-2 text-capitalize", placeholder:"Last Name" %>
    </div>
    <div class="field">
        <%= f.text_field :username, class:"form-control text-center mb-2", placeholder:"User Name" %>
    </div>
    <div class="field">
        <%= f.text_field :rank, class:"form-control text-center mb-2 text-capitalize", placeholder:"Rank" %>
    </div>
    <div class="field">
        <%= f.text_field :email, class:"form-control text-center mb-2", placeholder:"Email" %>
    </div>
    <div class="actions">
        <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block mt-5",style:"margin: 0 auto; width: 40%;"%>
    </div>
<% end %>